@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

body {
    background-color: #eee;
    color: #222;
}

.justify-content {
    justify-content: space-between;
}

.rounded {
    border-radius: 999px;
}